body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #000038;
    width:2120px;
}
header{
    position: relative;
}
header .search{
    position: absolute;
    text-align: center;
    }
menu{
    display: inline-flex;
    margin:0px;
}   
.block{
    position: absolute;
    margin-top:15px;
    border: 1px solid #234d89;
    border-radius: 10px;
    width: 137px;
    height: 1255px;
    display:inline-flex;
}
.block p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 23px;
    color:#fff;
    font-family: Helvetica;
    font-weight: 400;
}
ul{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    justify-content: center;
    align-items:center;
    margin:0px;
    padding: 0px;
}
.glasses{
    margin-bottom: 60px;
    margin-top:41px;
}
.course .crsimg{
    margin-left: 0px;
}
.book .bkimg{
    margin-left: 10px;
}
.ps{

}
.add .addimg{
    margin-left: 10px;
}
.chat{

}
.subscribe .sbcimg{
    margin-left: 20px;
}
.question .qsnimg{
    margin-left: 10px;
}
.exit .extimg{
    margin-left: 5px;
}
.lineg{
    margin-top:100px;
}
.sun{
    margin-top:14px;

}
.sun p{
    margin-bottom: 15px;
}
li{
    list-style-type: none;
} 
.sun .mode{
    margin-left:20px;
}
.search{
    width: 1886px;
    height: 85px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 15px;
    background-color: #343060;
    display:inline-flex;
    margin-top:30px;
    margin-left:220px;
    margin-right:300px;
}
.search .srchimg{
    position: absolute;
    margin-top: 28px;
    margin-left:40px;
}
.search .msgimg{
    position: absolute;
    margin-left:1700px;
    margin-top:28px;
}
.search .blimg{
    position: absolute;
    margin-left:1750px;
    margin-top:25px;
}
.search .els1img{
    position: absolute;
    margin-left:1800px;
    margin-top:25px;
}
.search .els2img{
    position: absolute;
    margin-left:1800px;
    margin-top:34px;
}
.content{
    position: relative;
}
.content img{
    position: absolute;
    margin-left: 185px;
    margin-top:100px;
}
.content h1{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23px;
    color:#fff;
    position: absolute;
    margin-top:120px;
    margin-left:220px;
}
.card1{
    width: 709px;
    height: 343px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 1px solid #234d89;
    background-color: #343060;
    position: absolute;
    margin-top:165px;
    margin-left:215px;
}
.card1 .prfsimg{
    position: absolute;
    margin-top:-70px;
    margin-left: -160px;
}
.card1 .grhimg{
    position: absolute;
    margin-top: 30px;
    margin-left: -20px;
}
.card1 p{
    position: absolute;
    margin-right: -300px;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top:170px;
    margin-left: 30px;
}
.card1 .prc {
    position: absolute;
    margin-left:380px;
    margin-top:-50px;
    color:#a7a7a7;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 88px;
}
.card1 h2{
    position: absolute;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    margin-top:30px;
    margin-left: 170px;
}
.card1 h3{
    position: absolute;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-top:90px;
    margin-left:170px;
}
.continuebtn{
    width: 221px;
    height: 49px;
    border-radius: 7px;
    background-color: #1fb9b3;
    display:flex;
    flex-direction: column;
    justify-content:center;
    position:absolute;
    margin-top: 280px;
    margin-left:470px;
}
.continuebtn a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 23px;
    align-self:center;
}
.card2{
    width: 709px;
    height: 269px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    background-color: #343060;
    border: 1px solid #234d89;
    border-radius: 16px;
    position: absolute;
    margin-top:600px;
    margin-left: 215px;
}
.card2 .cardimg{
    position: absolute;
    margin-left:-185px;
    margin-top:-60px;
}
.card2 h2{
    position: absolute;
    margin-top:-44px;
    margin-left:5px;
    color:#fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 23px;
}
.card2 .drgtime{
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.84px;
    line-height: 23px;
    text-transform: uppercase;
    margin-left:20px;
}
.tmonsite p{
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 900;
    margin-top:150px;
    margin-left:190px;
}
.plmtime p{
    position: absolute;
    color:#000;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    margin-top:180px;
    margin-left:190px;
}
.card3{
    width: 709px;
    height: 241px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 1px solid #234d89;
    background-color: #343060;
    position: absolute;
    margin-left: 215px;
    margin-top: 998px;
}
.card4{
    width: 709px;
    height: 344px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 2px solid #142c66;
    background-color: #000038;
    position: absolute;
    margin-top:165px;
    margin-left: 980px;
}
.card5{
    width: 709px;
    height: 269px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 15px;
    background-color: #343060;
    position: absolute;
    margin-top:600px;
    margin-left: 980px;
}
.card6{
    width: 709px;
    height: 241px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 1px solid #234d89;
    background-color: #343060;
    position: absolute;
    margin-top: 998px;
    margin-left: 980px;
}