body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #000038;
}
.block{
    border: 1px solid #234d89;
    border-radius: 8px;
    width: 137px;
    height: 1255px;
}
ul{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    justify-content: center;
    align-items:center;
}
li{
    list-style-type: none;
} 