body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #000038;
    height: 1315px;
    width: 2140px;
    display: flex;
}
header{
    position: relative;
}
header .search{
    position: absolute;
    text-align: center;
    }
menu{
    display: inline-flex;
    margin:0px;
}   
.block{
    position: absolute;
    margin-top:15px;
    border: 1px solid #234d89;
    border-radius: 10px;
    width: 137px;
    height: 1255px;
    display:inline-flex;
}
.block p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 23px;
    color:#fff;
    font-family: Helvetica;
    font-weight: 400;
}
ul{
    display:flex;
    flex-direction: column;
    flex-grow:1;
    justify-content: center;
    align-items:center;
    margin:0px;
    padding: 0px;
}
.glasses{
    margin-bottom: 60px;
    margin-top:41px;
}
.course .crsimg{
    margin-left: 0px;
}
.book .bkimg{
    margin-left: 10px;
}
.ps{

}
.add .addimg{
    margin-left: 10px;
}
.chat{

}
.subscribe .sbcimg{
    margin-left: 20px;
}
.question .qsnimg{
    margin-left: 10px;
}
.exit .extimg{
    margin-left: 5px;
}
.lineg{
    margin-top:100px;
}
.sun{
    margin-top:14px;

}
.sun p{
    margin-bottom: 15px;
}
li{
    list-style-type: none;
} 
.sun .mode{
    margin-left:20px;
}
.search{
    width: 1900px;
    height: 85px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 15px;
    background-color: #343060;
    display:inline-flex;
    margin-top:30px;
    margin-left:220px;
    margin-right:300px;
}
.search .srchimg{
    position: absolute;
    margin-top: 28px;
    margin-left:40px;
}
.search .msgimg{
    position: absolute;
    margin-left:1700px;
    margin-top:28px;
}
.search .blimg{
    position: absolute;
    margin-left:1750px;
    margin-top:25px;
}
.search .els1img{
    position: absolute;
    margin-left:1800px;
    margin-top:25px;
}
.search .els2img{
    position: absolute;
    margin-left:1800px;
    margin-top:34px;
}
.content{
    position: relative;
}
.content img{
    position: absolute;
    margin-left: 185px;
    margin-top:100px;
}
.content h1{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 23px;
    color:#fff;
    position: absolute;
    margin-top:150px;
    margin-left:185px;
}
.card1{
    width: 709px;
    height: 343px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 1px solid #234d89;
    background-color: #343060;
    position: absolute;
    margin-top:200px;
    margin-left:185px;
}
.card1 .prfsimg{
    position: absolute;
    margin-top:-70px;
    margin-left: -160px;
}
.card1 .grhimg{
    position: absolute;
    margin-top: 30px;
    margin-left: -20px;
}
.card1 p{
    position: absolute;
    margin-right: -300px;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top:170px;
    margin-left: 30px;
}
.card1 .prc {
    position: absolute;
    margin-left:380px;
    margin-top:-50px;
    color:#a7a7a7;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 88px;
}
.card1 h2{
    position: absolute;
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    margin-top:30px;
    margin-left: 160px;
}
.card1 h3{
    position: absolute;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-top:90px;
    margin-left:170px;
}
.continuebtn{
    width: 221px;
    height: 49px;
    border-radius: 7px;
    background-color: #1fb9b3;
    display:flex;
    flex-direction: column;
    justify-content:center;
    position:absolute;
    margin-top: 280px;
    margin-left:470px;
}
.continuebtn :hover{
    color:#000;
    opacity: 0.7;
    cursor: pointer;
}
.continuebtn a{
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 23px;
    align-self:center;
}
.card2{
    width: 709px;
    height: 269px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    background-color: #343060;
    border: 1px solid #234d89;
    border-radius: 16px;
    position: absolute;
    margin-top:620px;
    margin-left: 185px;
}
.card2 .cardimg{
    position: absolute;
    margin-left:-185px;
    margin-top:-60px;
}
.card2 h2{
    position: absolute;
    margin-top:-44px;
    margin-left:5px;
    color:#fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 23px;
}
.card2 .drgtime{
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.84px;
    line-height: 23px;
    text-transform: uppercase;
    margin-left:20px;
}
.tmonsite p{
    position: absolute;
    color: #000;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 900;
    margin-top:150px;
    margin-left:190px;
}
.plmtime p{
    position: absolute;
    color:#000;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    margin-top:180px;
    margin-left:190px;
}
.card3{
    width: 709px;
    height: 241px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 1px solid #234d89;
    background-color: #343060;
    position: absolute;
    margin-left: 185px;
    margin-top: 998px;
}
.card3 h2{
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 23px;
    margin-top:-43px;
}
.card3 .surfimg{
    position: absolute;
    margin-top: -85px;
    margin-left:-170px;
}
.card3cont h3{
    position: absolute;
    margin-left:240px;
    margin-top:18px;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
    line-height: 25px;
}
.card3cont h4{
    position: absolute;
    margin-left:240px;
    margin-top:75px;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.card3cont p{
    position: absolute;
    margin-left:240px;
    margin-top:115px;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.card4{
    width: 709px;
    height: 344px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 2px solid #142c66;
    background-color: #000038;
    position: absolute;
    margin-top: 200px;
    margin-left: 930px;
}
.card4 .rbtimg{
    position: absolute;
    margin-left: 305px;
    margin-top:-20px;
}
.card4cont h2{
    margin-left:26px;
    color: #ffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}
.card4cont p{
    margin-top:30px;
    margin-left:26px;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.44px;
    line-height: 23px;
}
.card4cont span{
    font-weight: 700;
}
.prmbtn {
    margin-top:30px;
    margin-left:26px;
    width: 294px;
    height: 48px;
    border-radius: 6px;
    background-color: #fbc02d;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prmbtn :hover{
    color:#fff;
}
.prmbtn a{
    margin-left:13px;
    color: #000;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
.prmbtn span{
    font-weight: 800;
    font-weight: bold;
    font-size: 20px;
}
.card5{
    width: 709px;
    height: 269px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 15px;
    background-color: #343060;
    position: absolute;
    margin-top:620px;
    margin-left: 930px;
}
.card5img{
    margin-left:-195px;
    margin-top:-55px;
}
.newwords{
    margin-top:70px;
    margin-left:13px;
    color: #ffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.84px;
    line-height: 23px;
    text-transform: uppercase;
}
.textword{
    position: absolute;
    margin-left: 210px;
    margin-top:68px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.53px;
}
.card6{
    width: 709px;
    height: 241px;
    box-shadow: 0 4px 20px rgba(8, 8, 54, 0.1);
    border-radius: 16px;
    border: 1px solid #234d89;
    background-color: #343060;
    position: absolute;
    margin-top: 998px;
    margin-left: 930px;
}
.cowboyimg{
    margin-left:-170px;
    margin-top: -85px;
}
.card6 .card3cont{
    margin-top:90px;
}
.rightblock{
    position: relative;
    width: 400px;
    height: 1180px;
    background-color: #343060;
    margin-top:200px;
    margin-left:1680px;
    border-radius: 20px 20px 0 0;
}
.persinfo .avatar{
    position: absolute;
    margin-left: -160px;
    margin-top:-70px;
}
.persinfo .lineimg1{
    position: absolute;
    margin-left: -160px;
    margin-top:65px;
}
.persinfo .lineimg2{
    position: absolute;
    margin-left: -160px;
    margin-top:240px;
}
.persinfo .lightimg{
    position: absolute;
    margin-left: -160px;
    margin-top:80px;
}
.persinfo .crownimg{
    position: absolute;
    margin-left: -160px;
    margin-top:135px;
}
.persinfo .clockimg{
    position: absolute;
    margin-left: -158px;
    margin-top:195px;
}
.nameid h2{
    position: absolute;
    margin-left:163px;
    margin-top: 33px;
    color: #fff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
}
.nameid h3{
    position: absolute;
    margin-left:163px;
    margin-top: 100px;
    color:#fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    text-transform:uppercase;
}
.level p{
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-top: 182px;
    margin-left:70px;
    line-height: 23px;
}
.coins p{
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-top: 240px;
    margin-left:70px;
}
.platform p{
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    margin-top: 296px;
    margin-left:70px;
}
.achvts h3{
    position: absolute;
    color:#fff;
    line-height: 23px;
    margin-top:358px;
    margin-left:33px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.achvts h4{
    position: absolute;
    color: #f9a020;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 23px;
    margin-left:100px;
    margin-top: 550px;
}
.achvts a :hover{
    color:#49e622;
}
.atton p{
    position: absolute;
    margin-top:490px;
    margin-left:25px;
    color:#fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
}
.memry p{
    position: absolute;
    margin-top:490px;
    margin-left:165px;
    color:#fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
}
.mind p{
    position: absolute;
    margin-top:490px;
    margin-left:295px;
    color:#fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;

}
.kingimg{
    position: absolute;
    margin-left:-160px;
    margin-top:290px;
}
.monkimg{
    position: absolute;
    margin-left:-37px;
    margin-top:290px;
}
.heroimg{
    position: absolute;
    margin-left:90px;
    margin-top:290px;
}
.lineimg3{
    position: absolute;
    margin-left:-160px;
    margin-top: 500px;
}
.ntfns h3{
    position: absolute;
    margin-left:30px;
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top:645px;
    line-height: 23px;
}
.newmsg {
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin-top:708px;
    margin-left:60px;
}
.medal {
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin-top:783px;
    margin-left:60px;
}
.accrued{
    position: absolute;
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    margin-top:866px;
    margin-left:60px;
}
.elipseimg1{
    position: absolute;
    margin-left:-160px;
    margin-top:645px;
}
.elipseimg2{
    position: absolute; 
    margin-left:-160px;
    margin-top:720px;
}
.elipseimg3{
    position: absolute;
    margin-left:-160px;
    margin-top:800px;
}
.seeall p{
    position: absolute;
    color: #f9a020;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 23px;
    margin-left:100px;
    margin-top:960px;
}
.seeall a :hover{
    color:#49e622;
}
.lineimg4{
    position: absolute;
    margin-top:920px;
    margin-left:-160px;
}
.rules{
    position: absolute;
    margin-top:950px;
    margin-left:-160px;
}
.scam{
    position: absolute;
    margin-top:1015px;
    margin-left:-160px;
}
.srv{
    position: absolute;
    margin-top:1040px;
    margin-left:80px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
}
.pbc{
    position: absolute;
    margin-top:1100px;
    margin-left:80px;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    line-height: 23px;
}